body{
  background-color: #4a464f;
  background-position: center;
  font-family: "Open Sans Condensed";
  font-size: 16px;
  text-align: center;
  width: auto;
  padding: 0px;
  margin: 0 auto;
}

h1{
  font-size: 16px;
  font-family: "Open Sans Condensed";

p{
  font-size: 14px;
  font-family: "Open Sans Condensed"; 
}

div{
  background-color: #ddc83e;
}
h1{
    color: #f2f4f3;
    font-size: 20px;
    font-style: "Open Sans Condensed"; 
}
.table{
    font-family: "Open Sans Condensed"; 
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 2em;
    text-align: center;
    overflow: hidden;
}
th{
  border: 2px solid #bfbfbf;
  text-align: center; 
  font-family: "Open Sans Condensed"; 
  font-size: 18px;
  height: 50px;
  background-color: #f0f0f5;
  padding: 10px;
}

td{
  border: 1px solid yellow;
  font-family: "Open Sans Condensed";
  font-size: 16px;
  text-align: center;
  padding:10px;
  background-color: #F5F5F5; /* White Smoke */
}

tr:hover td{
  background-color: 	#DDA0DD;  /* Plum */
  border: 2px solid yellow;
  color: 	#FFFFFF; /* White */ 
}
th{
  text-decoration: underline;
}

p {
  color: violet ;
}

h3{
  color:yellow;
}
